<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.41">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.2">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>image3</string>
        <string>sut2_pf1</string>
        <string>image4</string>
        <string>os</string>
        <string>image_dir</string>
        <string>dpdk_dir</string>
        <string>sut2_ip</string>
        <string>sut1_ip</string>
        <string>image1</string>
        <string>image2</string>
        <string>token</string>
        <string>drive_version</string>
        <string>git_repo_url</string>
        <string>pf1</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>token</name>
          <description>测试机IP</description>
          <defaultValue>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</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>git_repo_url</name>
          <description>github repo url</description>
          <defaultValue>github.com/intel-innersource/applications.validation.network-platform.npxtester.git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sut1_ip</name>
          <description>测试机IP</description>
          <defaultValue>10.239.183.130</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pf1</name>
          <description>sut1 pf1</description>
          <defaultValue>ens4f0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sut2_ip</name>
          <description>sut2 IP</description>
          <defaultValue>10.239.182.88</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sut2_pf1</name>
          <description>sut2 pf1 name</description>
          <defaultValue>ens785f0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>os</name>
          <description>测试机器系统:RHEL or UBUNTU</description>
          <defaultValue>RHEL</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>image1</name>
          <description>镜像1名字</description>
          <defaultValue>uvm1.img</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>image2</name>
          <description>镜像2名字</description>
          <defaultValue>uvm2.img</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>image3</name>
          <description>镜像3名字</description>
          <defaultValue>rhel84rt.img</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>image4</name>
          <description>镜像4名字</description>
          <defaultValue>rhel84rt2.img</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>image_dir</name>
          <description>镜像路径</description>
          <defaultValue>/home/image</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dpdk_dir</name>
          <description>dpdk路径</description>
          <defaultValue>/root/dpdk-stable-20.11.3/</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>drive_version</name>
          <description>driver version</description>
          <defaultValue>5.15.0-1005-realtime</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>H 21 * * *</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.94">
    <script>pipeline {
    agent {
        label &apos;controller-j&apos;
    }
    parameters {
    	string defaultValue: &apos;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&apos;, description: &apos;测试机IP&apos;, name: &apos;token&apos;, trim: false
    	string defaultValue: &apos;github.com/intel-innersource/applications.validation.network-platform.npxtester.git&apos;, description: &apos;github repo url&apos;, name: &apos;git_repo_url&apos;, trim: false
        string defaultValue: &apos;10.239.183.130&apos;, description: &apos;测试机IP&apos;, name: &apos;sut1_ip&apos;, trim: false
	    string defaultValue: &apos;ens4f0&apos;, description: &apos;sut1 pf1&apos;, name: &apos;pf1&apos;, trim: false
	    string defaultValue: &apos;10.239.182.88&apos;, description: &apos;sut2 IP&apos;, name: &apos;sut2_ip&apos;, trim: false
        string defaultValue: &apos;ens785f0&apos;, description: &apos;sut2 pf1 name&apos;, name: &apos;sut2_pf1&apos;, trim: false
	    string defaultValue: &apos;RHEL&apos;, description: &apos;测试机器系统:RHEL or UBUNTU&apos;, name: &apos;os&apos;, trim: false
        string defaultValue: &apos;uvm1.img&apos;, description: &apos;镜像1名字&apos;, name: &apos;image1&apos;, trim: false
        string defaultValue: &apos;uvm2.img&apos;, description: &apos;镜像2名字&apos;, name: &apos;image2&apos;, trim: false
        string defaultValue: &apos;rhel84rt.img&apos;, description: &apos;镜像3名字&apos;, name: &apos;image3&apos;, trim: false
        string defaultValue: &apos;rhel84rt2.img&apos;, description: &apos;镜像4名字&apos;, name: &apos;image4&apos;, trim: false
        string defaultValue: &apos;/home/image&apos;, description: &apos;镜像路径&apos;, name: &apos;image_dir&apos;, trim: false
        string defaultValue: &apos;/root/dpdk-stable-20.11.3/&apos;, description: &apos;dpdk路径&apos;, name: &apos;dpdk_dir&apos;, trim: false
        string defaultValue: &apos;5.15.0-1005-realtime&apos;, description: &apos;driver version&apos;, name: &apos;drive_version&apos;, trim: false
    }
    stages{
        stage(&apos;rm project dir&apos;){
            steps{
                script{
                    out=sh(script:&quot;ls $WORKSPACE/npxtester&quot;,returnStatus:true)
                    if(out == 0){
                        println &quot;dir is exists and rm dir&quot;
                        sh &quot;rm -rf $WORKSPACE/npxtester&quot;
                    }
                }
            }
        }
        stage(&apos;git clone&apos;){
            steps{
                sh &quot;git clone -b develop https://$token@$git_repo_url npxtester&quot;
                }
        }
        stage(&apos;pre-exec-set-args&apos;){
            steps{
                sh &quot;python $WORKSPACE/npxtester/conf/change_args.py  &apos;{\&quot;drive_info\&quot;:{\&quot;drive_version\&quot;:\&quot;$drive_version\&quot;},\&quot;dpdk_dir\&quot;:\&quot;$dpdk_dir\&quot;,\&quot;vm_image_conf\&quot;:{\&quot;image1\&quot;:\&quot;$image1\&quot;,\&quot;image2\&quot;:\&quot;$image2\&quot;,\&quot;image3\&quot;:\&quot;$image3\&quot;,\&quot;image4\&quot;:\&quot;$image4\&quot;,\&quot;image_dir\&quot;:\&quot;$image_dir\&quot;},\&quot;sut_conf\&quot;:{\&quot;host\&quot;:\&quot;$sut1_ip\&quot;,\&quot;pf1\&quot;:\&quot;$pf1\&quot;,\&quot;os\&quot;:\&quot;$os\&quot;},\&quot;pkg_generator\&quot;:{\&quot;host\&quot;:\&quot;$sut2_ip\&quot;,\&quot;pf1\&quot;:\&quot;$sut2_pf1\&quot;}}&apos;&quot;
            }
        }
        stage(&apos;run nic case&apos;){
            steps{
                script{
                    out=sh(script:&quot;pytest $WORKSPACE/npxtester/Tests/testNics -s -m nicGold --capture=tee-sys --html=/root/testconfig/testlogs/HtmlReport/nicGold_report.html --self-contained-html&quot;,returnStatus:true)
                    println out
                    if (out == 0)
                    {
                        sh &quot;sed -i &apos;s/\r//g&apos; $WORKSPACE/npxtester/log_analyzer/log_analyzer.sh&quot;
                        sh &quot;chmod a+x $WORKSPACE/npxtester/log_analyzer/log_analyzer.sh&quot;
                        sh &quot;sh $WORKSPACE/npxtester/log_analyzer/log_analyzer.sh&quot;
                    } else{
                            sh &quot;sed -i &apos;s/\r//g&apos; $WORKSPACE/npxtester/log_analyzer/log_analyzer.sh&quot;
                            sh &quot;chmod a+x $WORKSPACE/npxtester/log_analyzer/log_analyzer.sh&quot;
                            sh &quot;sh $WORKSPACE/npxtester/log_analyzer/log_analyzer.sh&quot;
                            currentBuild.result=&quot;FAILURE&quot;
                    }
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>