<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.41">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.2">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>sut2_pf1</string>
        <string>board_type</string>
        <string>os</string>
        <string>dpdk_dir</string>
        <string>bmc_ip</string>
        <string>sut2_ip</string>
        <string>bmc_user</string>
        <string>sut1_ip</string>
        <string>sut1_pf1</string>
        <string>token</string>
        <string>drive_version</string>
        <string>bmc_password</string>
        <string>git_repo_url</string>
        <string>PF1_NIC_type</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>hudson.model.Item.Build:authenticated</permission>
      <permission>hudson.model.Item.Cancel:authenticated</permission>
      <permission>hudson.model.Item.Configure:authenticated</permission>
      <permission>hudson.model.Item.Delete:authenticated</permission>
      <permission>hudson.model.Item.Discover:authenticated</permission>
      <permission>hudson.model.Item.Move:authenticated</permission>
      <permission>hudson.model.Item.Read:authenticated</permission>
      <permission>hudson.model.Item.Workspace:authenticated</permission>
      <permission>hudson.model.Run.Delete:authenticated</permission>
      <permission>hudson.model.Run.Update:authenticated</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>token</name>
          <description>git token</description>
          <defaultValue>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</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>git_repo_url</name>
          <description>github repo url</description>
          <defaultValue>github.com/intel-innersource/applications.validation.network-platform.npxtester.git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sut1_ip</name>
          <description>测试机IP</description>
          <defaultValue>10.239.182.209</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>board_type</name>
          <description>board_type of SUT1</description>
          <defaultValue>commercial</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>os</name>
          <description>测试机器系统:RHEL or UBUNTU</description>
          <defaultValue>RHEL</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sut1_pf1</name>
          <description>sut1 pf</description>
          <defaultValue>ens785f2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dpdk_dir</name>
          <description>dpdk路径</description>
          <defaultValue>/opt/APP/utility/DPDK_install/dpdk-21.02/</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sut2_ip</name>
          <description>发报机IP</description>
          <defaultValue>10.239.182.79</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sut2_pf1</name>
          <description>发报机网口名称</description>
          <defaultValue>ens787f2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>drive_version</name>
          <description>drive 版本号</description>
          <defaultValue>1.6.4</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PF1_NIC_type</name>
          <description>4*25 or 100 or 2*100</description>
          <defaultValue>4*25</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>bmc_ip</name>
          <description>BMC IP</description>
          <defaultValue>10.239.183.128</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>bmc_user</name>
          <description>BMC USER</description>
          <defaultValue>debuguser</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>bmc_password</name>
          <description>BMC PASSWORD</description>
          <defaultValue>0penBmc1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.94">
    <script>pipeline {
    agent {
        label &apos;controller-j&apos;
    }
    parameters {
        string defaultValue: &apos;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&apos;, description: &apos;git token&apos;, name: &apos;token&apos;, trim: false
        string defaultValue: &apos;github.com/intel-innersource/applications.validation.network-platform.npxtester.git&apos;, description: &apos;github repo url&apos;, name: &apos;git_repo_url&apos;, trim: false
        string defaultValue: &apos;10.239.182.209&apos;, description: &apos;测试机IP&apos;, name: &apos;sut1_ip&apos;, trim: false
        string defaultValue: &apos;commercial&apos;, description: &apos;board_type of SUT1&apos;, name: &apos;board_type&apos;, trim: false
	    string defaultValue: &apos;RHEL&apos;, description: &apos;测试机器系统:RHEL or UBUNTU&apos;, name: &apos;os&apos;, trim: false
	    string defaultValue: &apos;ens785f2&apos;, description: &apos;sut1 pf&apos;, name: &apos;sut1_pf1&apos;, trim: false
        string defaultValue: &apos;/opt/APP/utility/DPDK_install/dpdk-21.02/&apos;, description: &apos;dpdk路径&apos;, name: &apos;dpdk_dir&apos;, trim: false
        string defaultValue: &apos;10.239.182.79&apos;, description: &apos;发报机IP&apos;, name: &apos;sut2_ip&apos;, trim: false
        string defaultValue: &apos;ens787f2&apos;, description: &apos;发报机网口名称&apos;, name: &apos;sut2_pf1&apos;, trim: false
        string defaultValue: &apos;1.6.4&apos;, description: &apos;drive 版本号&apos;, name: &apos;drive_version&apos;, trim: false
        string defaultValue: &apos;4*25&apos;, description: &apos;4*25 or 100 or 2*100&apos;, name: &apos;PF1_NIC_type&apos;, trim: false
        string defaultValue: &apos;10.239.183.128&apos;, description: &apos;BMC IP&apos;, name: &apos;bmc_ip&apos;, trim: false
        string defaultValue: &apos;debuguser&apos;, description: &apos;BMC USER&apos;, name: &apos;bmc_user&apos;, trim: false
        string defaultValue: &apos;0penBmc1&apos;, description: &apos;BMC PASSWORD&apos;, name: &apos;bmc_password&apos;, trim: false
    }
    stages{
        stage(&apos;rm project dir&apos;){
            steps{
                script{
                    out=sh(script:&quot;ls $WORKSPACE/npxtester&quot;,returnStatus:true)
                    if(out == 0){
                        println &quot;dir is exists and rm dir&quot;
                        sh &quot;rm -rf $WORKSPACE/npxtester&quot;
                    }
                }
            }
        }
        stage(&apos;clone&apos;){
            steps{
                sh &quot;git clone -b develop https://$token@$git_repo_url npxtester&quot;
            }
        }
        stage(&apos;set args&apos;){
            steps{
                sh &quot;python $WORKSPACE/npxtester/conf/change_args.py  &apos;{\&quot;bmc_conf\&quot;:{\&quot;user\&quot;:\&quot;$bmc_user\&quot;,\&quot;password\&quot;:\&quot;$bmc_password\&quot;},\&quot;dpdk_dir\&quot;:\&quot;$dpdk_dir\&quot;,\&quot;sut_conf\&quot;:{\&quot;bmc_ip\&quot;:\&quot;$bmc_ip\&quot;,\&quot;board_type\&quot;:\&quot;$board_type\&quot;,\&quot;host\&quot;:\&quot;$sut1_ip\&quot;,\&quot;pf1\&quot;:\&quot;$sut1_pf1\&quot;,\&quot;os\&quot;:\&quot;$os\&quot;,\&quot;PF1_NIC_type\&quot;:\&quot;$PF1_NIC_type\&quot;},\&quot;pkg_generator\&quot;:{\&quot;host\&quot;:\&quot;$sut2_ip\&quot;,\&quot;pf1\&quot;:\&quot;$sut2_pf1\&quot;},\&quot;drive_info\&quot;:{\&quot;drive_version\&quot;:\&quot;$drive_version\&quot;}}&apos;&quot;
            }
        }
        //stage(&apos;restore bios&apos;){
        //    steps{
        //        sh &quot;pytest $WORKSPACE/npxtester/Tests/testBios/testBiosSetting.py -s -m restoreBios --capture=tee-sys --html=/root/testconfig/testlogs/HtmlReport/restore_bios_report.html --self-contained-html&quot;
        //    }
        //}
        stage(&apos;run nic case&apos;){
            steps{
                sh &quot;pytest $WORKSPACE/npxtester/Tests/testNics -s -m nicSimple --capture=tee-sys --html=/root/testconfig/testlogs/HtmlReport/nic_simple_report.html --self-contained-html&quot;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>